<%- include('includes/head.ejs', { title: 'Manage Products' }) %>
<link rel="stylesheet" href="/styles/admin-page.css">
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/products-manage.js" defer></script>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <div id="main-info">
            <h1>Products Administration</h1>
            <h2>Manage Products</h2>
            <a class="btn" href="/admin/add-prod">Add Product</a>
        </div>
        <div>
            <ul>
                <% for (const product of products) { %>
                    <li class="prod-container">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                        <h2><%= product.title %></h2>
                        <div id="edit-div-btn">
                            <a class="a-btn" href="/admin/update-product/<%= product.id %>">View & Edit</a>
                            <button class="btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </main>
</body>
</html>